<md-toolbar color="primary">
  <button md-button (click)="GoToHome()">Home</button>
  <span class="example-spacer"></span>
<app-login></app-login>

</md-toolbar>
<router-outlet></router-outlet>


<h2>Footer </h2>
<ul>
  <li>
    <h3><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h3>
  </li>
  <li>
    <h3><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h3>
  </li>
  <li>
    <h3><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h3>
  </li>
</ul>

