/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
     font-family: Roboto, Arial, sans-serif; 
    margin: 0 ;
   background-color: rgba(41, 41, 41, 0.07);
}

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
   font-size: 16px; 
}

.inputIcon{
    padding-right: 10px; 
}
.md-darkerIcon { color: rgba(0, 0, 0, 0.66); }
.md-darkIcon { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.alert.alert-error {
    color:#FF4848;
    margin-bottom: 10px;
}
.alert.alert-error div{
    color:#FF4848;
    margin-bottom: 10px;
    margin-top: 10px;
}

.registerCard{
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.registerCardHeader{
    font-size: 25px !important;
}

.formInputFull {
    width: 100%;
}

.buttonFullWidth{
    width: 100%;
}

.formActions {
    float: right;
}